*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body{
    background-color: whitesmoke;
    background-image: url("../image/background2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 100%;
    height: 100%;    
    background-size:cover;
}

/*Navegation*/
nav{
    background-color: #212121;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 12;
}

#bg{
    background-image: url("../image/background2.jpg");
    filter: blur(10px);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#title{
    color: white;
    font-size: 1.2em;
    padding: 0.8em;
    float:left;
}

#home{
    padding: 1em;
    float:left;
    cursor: pointer;
}

 .Drawer{
     position: fixed;
     overflow-x:hidden;
     overflow-y: auto;
     z-index: 13;
     height: 100%;
     width: 250px;
     display: none;
     background-color: rgb(241, 236, 236);
 }

.drawerBtn{
    color: white;
}

.drawerBtn a{
    text-decoration:none;
    color: white;
}

.drawerMain{
    padding: 5px;
}

.drawerBtn:focus{
    background-color:#52423D;
    color: white;
}

.drawerMain select, .drawerMain input{
    width: 210px;
    border: none;
    border-bottom: 1px solid #52423D;
    background: none;
    padding: 0.5em;
    margin: 10px;
}

 nav a{
     display: inline-block;
     text-decoration:none;
     padding: 1em;
     color: white;
}

.iconBtn:hover, .drawerBtn:hover, #home:hover{
     background-color: #9C6A53;
     color: white;
     transition: 0.5s;
 }

 #overlay{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 13;
    background-color: rgba(0, 0, 0, 0.5);
 }

 .iconBtn{
     padding: 1em;
     float: right;
     cursor: pointer;
 }

 .drawerTitle{
     display: inline-block;
     padding: 0.1em;
 }
 
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.Drawer button{
    width: 100%;
    background-color: #998C7B;
    display: block;
    border: none;
    padding: 1em;
    color: white;
}

#categories{
    padding-top: 5em;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

option, input{
    padding: 1em;
}

.catCard {
    width: 75px;
    height: 75px;
    display: inline-block;
    padding: 10px;
}

.catCard :hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px black;
    transition: 0.25s;
}

.catCard img {
    width: 100%;
    height: 100%;
    overflow: hidden;    
    border-radius: 25%;
    box-shadow: 1px 1px 0.5px black;
}

#categories h2{
    color: white;
    padding: 10px;
}

.catCard h4{
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 1px black;
}


@media only screen and (max-device-width: 1024px){
    .itemBtn{
        display: inline-block;
    }
    .iconBtn{
        border: 1px medium gray;
    }
    nav a{
        width: 100%;
    }
    nav{
        overflow: hidden;
        width: 100%;
    }
    #links{
        display:none;
    }
}